.img{
    background-image: url("../../../assets/img/login.jpg");
    width: 100%;
    height: 606px;
}
.card{
    width: 60%;
    height: 400px;
    margin: 20% 0 0 150px;
}

.spinner-border{
    height: 19px;
    width: 19px;
    position: absolute;
    right: 220px;
    padding-top: 12px;
}