span.badge-success {
    background: #18cb18d4;
    border-radius: 17px;
}
span.badge-danger {
    background: red;
    border-radius: 17px;
}
i.fa.fa-edit {
    color: #1414f7;
    margin: 0 8px;
    font-size: 15px;
}
i.fa.fa-trash {
    color: red;
    margin: 0;
    font-size: 15px;
}
button{
    float: right;
}
.table{
    border: 1px solid rgb(167, 143, 143);
}